<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Quiz App</a>
          <p id="score">Score: {{score.value}}</h1>
        </div>
        <div class="collapse navbar-collapse">
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="jumbotron question" ng-repeat="question in quiz | orderBy:'difficulty'">
        <form action="">
        <h2>{{$index + 1}}. {{question.q}}</h2>
          <ul id='question-list'>
            <li ng-repeat="option in question.options"><input type="radio" name="question-{{$parent.$index}}" value="" ng-click="check(option.value, question)" ng-disabled="question.answered"> {{option.value}}</li>
          </ul>
        </form>
      </div>
      <div class="jumbotron">
          <h3>Create a New Question</h3>
          Question: <input type="text" ng-model="newQuestion.q" name="text" />
          <br></br>
          <button ng-click="addOption()">Add Answer Option: </button>
          <input type="text" ng-repeat="option in newQuestion.options" ng-model="option.value" name="text"/>
          <br></br>
          Difficulty: <input type="text" ng-model="newQuestion.difficulty" name="text" />
          <br></br>
          Answer: <input type="text" ng-model="newQuestion.answer" name="text" />
          <br></br>
          <button ng-click="submit()">Submit Question</button>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->

<!-- <div>
  <li ng-repeat="question in quiz | orderBy:'difficulty'" style="list-style-type:none;">
    <strong>{{$index + 1}}. {{ question.q }}</strong>
    <div ng-repeat="option in question.options">
      <button>{{ option.value || option.answer }}</button>
    </div>
  </li>
</div> -->